[user]
	name = kino-ma
	email = kino.ma.ms@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/kino-ma/.gitignore_global
