[user]
	name = kino-ma
	email = kino.ma.ms@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = ~/.gitignore_global
[pull]
	ff = only
[alias]
    ##
    #  Shortcut for commands that frequently used
    ##

	s = status
	d = diff
	ds = diff --staged


    ##
    #  Aliases about commiting
    ##

    # commit with message
	c = commit -m

    # A new feature
    commit-feat = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'feat'
    c-feat = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'feat'

    # A bug fix
    commit-fix = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'fix'
    c-fix = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'fix'

    # A code change that neither fixes a bug nor adds a feature
    commit-refactor = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'refactor'
    c-refactor = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'refactor'

    # Adding missing tests or correcting existing tests
    commit-test = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'test'
    c-test = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'test'

    # A code change that improves performance
    commit-perf = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'perf'
    c-perf = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'perf'

    # Changes that do not affect the meaning of the code
    commit-style = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'style'
    c-style = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'style'

    # Documantation only changes
    commit-docs = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'docs'
    c-docs = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'docs'

    # Changes that affect the build system or external dependencies
    commit-build = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'build'
    c-build = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'build'

    # Changes to CI configuration files and scripts
    commit-ci = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'ci'
    c-ci = !sh -c 'source $HOME/.shell_fn/cmt_pfx.sh; git_commit_with_prefix 'ci'


    ##
    #  Other useful aliases
    ##


    # show commit logs in pretty style
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'

